.woocommerce-error {
    background-color: white;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.1);
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;

}
#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
  background-color: transparent;
}
#order_review .woocommerce-form__label-for-checkbox {
    display: flex !important;
    flex-flow: row;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    font-family: 'Lato';
    letter-spacing: unset !important;
    color: #6E6E6E;
    gap: 10px;
    .optional {
      display: none;
    }
    &:before {
        display: block;
        width: 24px;
        cursor: pointer;
        content: '';
        min-width: 24px;
        max-width: 24px;
        min-height: 24px;
        max-height: 24px;
        height: 24px;
        border: 2px solid #E2A269 !important;
        border-radius: 0px !important;
    }
    &:after {
        min-width: 13px;
        max-width: 13px;
        min-height: 13px;
        max-height: 13px;
        cursor: pointer;
        height: 13px;
        background-color: #E2A269;
        position: absolute;
        top: 9px;
        transition: all 0.3s ease;
        left: 7px;
        content: '';

    }
    input {
      display: none;
    }
    
    &.is-active {
      &:after {
        transform: scale(0);
      }
    }

}
.woocommerce table.shop_table td, .woocommerce table.shop_table, .woocommerce table.shop_table, .woocommerce table.shop_table tbody th, .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th {
  border: unset !important;
}
#add_payment_method #payment ul.payment_methods, .woocommerce-cart #payment ul.payment_methods, .woocommerce-checkout #payment ul.payment_methods {
  border: none;
}
.woocommerce-privacy-policy-text {
  display: none;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: black;
}
.includes_tax {
  display: none;
}
#add_payment_method #payment div.payment_box, .woocommerce-cart #payment div.payment_box, .woocommerce-checkout #payment div.payment_box {
  display: none;
}

#order_review {
  #shipping_method {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    gap: 20px;
    li {
        width: 100%;
        input {
            display: none;
        }
        label {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            font-family: 'Lato';
            font-size: 14px;
            font-weight: 900;
            bdi, span {
                color: #E2A269;
                font-family: 'Lato';
                font-size: 14px;
                font-weight: 900;
            }
            gap: 13px;
            &:after{
                width: 16px;
                height: 16px;
                border-radius: 50px;
                display: block;
                content: '';
                border: 1px solid #E2A269;
                transition: all 0.5s ease;
               
            }
        }
        input:checked {
            &~label {
                &:after {
                    box-shadow: inset 0px 0px 0px 5px #E2A269;
                }
            }
        }
    }
}
  h3 {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    font-family: 'Lato';
    font-size: 30px;
    color: black;
    font-weight: 700;
  }
  table {
    border-collapse: collapse;
    font-family: 'Lato';
    font-size: 16px;
    thead {
      tr {
        th {
          text-align: center;
        }
      }
    }
    tbody {
      td.product-total {
        text-align: right;
      }
    }
    tfoot {
      .order-total {
        bdi {
          font-size: 20px;
          color: #E2A269;
          font-weight: 700;
        }
      }
      td {
        text-align: right;
        padding-right: 30px;
      }
      tr {
        th {
          padding-top: 25px;
          padding-bottom: 25px;
          background-color: #F5F5F5;
          color: black;
          font-family: 'Lato';

          font-size: 16px;
          font-weight: 400;
          text-align: center;
          width: 40%;
        }
      }
    }
    thead {
      background-color: #F5F5F5;
      tr {
        th {
          color: black;
          font-family: 'Lato';
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }
}

#my_custom_checkout_field  {
  label {
    display: flex !important;
    flex-flow: row;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    font-family: 'Lato';
    letter-spacing: unset !important;
    color: #6E6E6E;
    gap: 10px;
    .optional {
      display: none;
    }
    &:before {
        display: block;
        width: 24px;
        cursor: pointer;
        content: '';
        min-width: 24px;
        max-width: 24px;
        min-height: 24px;
        max-height: 24px;
        height: 24px;
        border: 2px solid #E2A269 !important;
        border-radius: 0px !important;
    }
    &:after {
        min-width: 13px;
        max-width: 13px;
        min-height: 13px;
        max-height: 13px;
        cursor: pointer;
        height: 13px;
        background-color: #E2A269;
        position: absolute;
        top: 9px;
        transition: all 0.3s ease;
        left: 7px;
        content: '';

    }
    input {
      display: none;
    }
    
    &.is-active {
      &:after {
        transform: scale(0);
      }
    }
}
}
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
  width: 100%;
  max-width: 100%;
}
.woocommerce-additional-fields {
  width: 100%;
  display: block;
  p {
    width: 100%;
    display: block;
    span {
      width: 100%;
      display: block;
    }
  }
}
#ship-to-different-address {
  padding-top: 30px;
  padding-bottom: 30px;
    label {
        display: flex;
        flex-flow: row;
        align-items: center;
        font-size: 16px;
        font-weight: 400;
        position: relative;
        font-family: 'Lato';
        letter-spacing: unset !important;
        color: #6E6E6E;
        gap: 10px;
        &:before {
            display: block;
            width: 24px;
            cursor: pointer;
            content: '';
            min-width: 24px;
            max-width: 24px;
            min-height: 24px;
            max-height: 24px;
            height: 24px;
            border: 2px solid #E2A269 !important;
            border-radius: 0px !important;
        }
        &:after {
            min-width: 13px;
            max-width: 13px;
            min-height: 13px;
            max-height: 13px;
            cursor: pointer;
            height: 13px;
            background-color: #E2A269;
            position: absolute;
            top: 7.7px;
            transition: all 0.3s ease;
            left: 8px;
            content: '';

        }
        input {
          display: none;
        }
        
        &.is-active {
          &:after {
            transform: scale(0);
          }
        }
    }
    
}
.woocommerce-billing-fields__field-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 20px;
    #billing_first_name_field, #billing_last_name_field, #billing_phone_field, #billing_email_field {
        width: calc(50% - 7px);
    }
    #billing_country_field, #billing_state_field {
        width: 100%;
    }
    #billing_address_1_field, #billing_city_field {
        width: calc(70% - 7px);
    }
    #billing_postcode_field, #billing_postcode_field, #billing_address_2_field  {
        width: calc(30% - 7px);
    }
    
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 'Lato';
    font-weight: 400;
    font-size: 14px;

}
.select2-container--open .select2-dropdown--below {
    border: none;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}
.select2-results {
    border: none !important;
    ul {
        border: none !important;
        li {
            font-size: 'Lato';
            font-weight: 400;
            font-size: 14px;
            padding-left: 20px;
        }
    }
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #E2A269;
}
.select2-search--dropdown {
    display: none !important;
    opacity: 0 !important;
}

.checkoutSection {
  .container {
    .woocommerce-form-coupon {
      border: none;
      padding: 0;
      flex-flow: column;
      display: flex;
        p {
            margin: 0;
            padding: 0;
        }
        .form-row.form-row-first {
            margin-top: 20px;
        }
      button {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        z-index: 9;
        font-size: 18px;
        color: white;
        position: relative;
        height: 50px;
        border-radius: 0;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E2A269;
        border-bottom-right-radius: 25px;
        transition: box-shadow 0.5s ease, padding-right 0.5s ease, border-bottom-right-radius 0.5s ease, border-top-left-radius 0.5s ease;

        &:hover {
          color: white;

          border-bottom-right-radius: 0;

        }

        &:after {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.28' height='11.808' viewBox='0 0 19.28 11.808'%3E%3Cg id='Group_186' data-name='Group 186' transform='translate(-614 -501.192)'%3E%3Cpath id='Icon_ionic-ios-arrow-forward' data-name='Icon ionic-ios-arrow-forward' d='M15.963,12.1,11.494,7.633a.84.84,0,0,1,0-1.192.851.851,0,0,1,1.2,0L17.752,11.5a.842.842,0,0,1,.025,1.164l-5.084,5.094a.844.844,0,1,1-1.2-1.192Z' transform='translate(615.282 494.996)' fill='%23fff'/%3E%3Crect id='Rectangle_89' data-name='Rectangle 89' width='18' height='2' rx='1' transform='translate(614 506)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
          height: 11px;
          background-position: center;
          background-size: contain;
          width: 19px;
          position: absolute;
          top: 53%;
          background-repeat: no-repeat;
          transform: translateY(-50%);
          content: '';
          right: 30px;
          z-index: 9;
          opacity: 0;
          transition: right 0.3s ease, opacity 0.3s ease;
        }

        &:hover {

          &:after {
            opacity: 1;
            right: 15px;
          }

          padding-right: 20px;
          box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.16);
        }
      }

      input {
        width: 300px !important;
        height: 51px;
        background-color: white;
        padding-left: 20px;
        font-family: 'Lato';
        border: none;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.18);
        font-size: 14px;
        font-weight: 400;
        color: black;

        &::placeholder {
          font-family: 'Lato';
          font-size: 14px;
          font-weight: 400;
          color: #AEAEAE;
        }

      }

      p {
        color: #6E6E6E;
        font-size: 14px;
        font-family: 'Lato';
        font-weight: 400;
      }
    }

    .woocommerce-form-coupon-toggle {
      .woocommerce-info {
        border: none;
        padding: 0;
        background-color: unset;
        color: #6E6E6E;
        font-size: 16px;
        font-family: 'Lato';
        font-weight: 400;

        &:before {
          display: none;
        }

        a {
          color: #E2A269;
          font-weight: 400;
          font-size: 16px;
          font-family: 'Lato';
        }
      }
    }
  
    #customer_details {
      display: flex;
      padding: 40px;
      flex-flow: column;
      width: calc(50% - 25px);
      background-color: white;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
      .form-row label {
        display: none;
      }
      .select2-selection__rendered {
        height: 45px;
        display: flex;
        padding-left: 20px;
        align-items: center;
      }
      .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
      }
        .select2-selection--single  {
            border: none;
            background-color: #F9F6F4;
            height: 45px;
        }
      input[type=tel], input[type=text], input[type=email] {
        border: none;
        background-color: #F9F6F4;
        padding-left: 20px;
        height: 45px;
        &::placeholder {
            font-size: 14px;
            font-weight: 400;
            color: #1A1A18;
            font-family: 'Lato';
        }
      }
  
      textarea {
        height: 203px;
        resize: none;
        width: 100%;
        border: none;
        background-color: #F9F6F4;
        padding-top: 20px;
        padding-left: 20px;
        &::placeholder {
          font-size: 14px;
          font-weight: 400;
          color: #1A1A18;
          font-family: 'Lato';
      }
      }
      h3 {
        font-family: 'Lato';
        font-weight: 700;
        font-size: 30px;
        margin: 0;
        color: #1A1A18;
      }

      .haveAccountText {
        color: #6E6E6E;
        font-size: 16px;
        font-family: 'Lato';
        font-weight: 400;

        a {
          color: #E2A269;
          font-weight: 400;
          font-size: 16px;
          font-family: 'Lato';
        }
      }

      .col-1 {
        max-width: 100%;
        width: 100%;
        float: unset;
      }
    }

    #order_review {

      width: calc(50% - 25px);
      background-color: white;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);

    }

    .woocommerce-checkout {
      justify-content: space-between;

      display: flex;
    }
  }
}
