.siteFooter {
  padding-left: 90px;
  padding-right: 90px;
  background-color: #F9F6F4;
  padding-bottom: 150px;
  padding-top: 60px;
  position: relative;
  box-shadow: 0px -3px 12px 0px rgba(0,0,0,0.06);
  @media screen and (max-width: 1000px) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 40px;
   }
  .wrapper {


    justify-content: space-between;
    @media screen and (max-width: 1000px) {
      justify-content: center;
      gap: 40px;
     }
     @media screen and (max-width: 700px) {
      max-width: calc(100% - 30px);
      margin-left: auto;
      margin-right: auto;
     }
    .siteFooter__column--logo {
    
        width: calc(48% - 385px);
        img {
            max-width: 100%;
        }
        @media screen and (max-width: 1600px) {
          display: flex;
          align-items: center;
        }
        @media screen and (max-width: 1400px) {
          width: calc(48% - 285px);
         }
         @media screen and (max-width: 1000px) {
          width: 30%;
          
         }
         @media screen and (max-width: 500px) {
          width: 50%;
        }
    }
    .siteFooter__column--photo {
        width: calc(48% - 385px);
        img {
            max-width: 100%;
        }
        @media screen and (max-width: 1600px) {
          display: flex;
          align-items: center;
        }
        @media screen and (max-width: 1400px) {
          width: calc(48% - 285px);
         }
         @media screen and (max-width: 1000px) {
          width: 30%;
         }
    }
    .siteFooter__column--content {
        width: fit-content;
      .siteFooterContent__newsletter {
        p.newsletterDesc {
          font-family: 'futura-pt', sans-serif;
          font-weight: 400;
          text-align: center;
          margin-top: 0;
        }

        form {
            margin-top: 20px;

            .footer-newsletter-form {
              @media screen and (max-width: 1400px) {
                display: flex;
                justify-content: center;
               }
            }
            .wpcf7-spinner {
                display: none;
            }
          .footer-newsletter-form {
            p {
              display: flex;
              flex-flow: row;
              align-items: center;
              @media screen and (max-width: 600px) {
                flex-flow: column;
                gap: 10px;
                width: 100%;
                span {
                  width: 100%;
                  input {
                    width: 100%;
                  }
                }
              }
            }
          }

          p {
            margin-top: 0;
          }

          input[type=email] {
            background-color: white;
            border-bottom-left-radius: 30px;
            border: 2px solid #E2A269;
            height: 61px;
            padding-left: 50px;
            font-family: 'futura-pt', sans-serif;
            font-size: 20px;
            font-weight: 400;
            color: black;
            width: 470px;
            box-sizing: border-box;
            transition: border-bottom-left-radius 0.5s ease;
            &:focus {
              outline: none;
            }
            &::placeholder {
              font-family: 'futura-pt', sans-serif;
              font-size: 20px;
              font-weight: 400;
              color: #707070;
            }
            &:hover {
                border-bottom-left-radius: 0px;
            }
            &:focus {
                border-bottom-left-radius: 0px;
            }
            @media screen and (max-width: 1400px) {
              width: 300px;
             }
             @media screen and (max-width: 700px) {
              width: calc(100%-200px);
             }
             @media screen and (max-width: 600px) {
              width: 100%;
              border-radius: unset !important;
             }
          }

          input[type=submit] {
            background-color: #E2A269;
            border-top-right-radius: 30px;
            height: 61px;
            border: none;
            font-family: 'Lato';
            color: white;
            width: 300px;

            font-size: 18px;
            font-weight: 400;
            cursor: pointer;
            transition: border-top-right-radius 0.3s ease;
            &:hover {
                border-top-right-radius: 0px;
              
            }
            @media screen and (max-width: 1400px) {
              width: 230px;
             }
             @media screen and (max-width: 700px) {
              width: 200px;
             }
             @media screen and (max-width: 600px) {
              width: 100%;
              border-radius: unset !important;
             }
          }
        }
      }

      .siteFooterContent__navHolder {
        display: flex;
        justify-content: space-evenly;
        margin-top: 50px;
        width: 100%;
        @media screen and (max-width: 1400px) {
          margin-top: 20px;
         }
        .navHolder__column {
            display: flex;
            flex-flow: column;
            gap: 20px;
            .navHolderColumn__row {
                .navHolderRow__title {
                    font-family: 'futura-pt', sans-serif;
                    font-size: 20px;
                    font-weight: 400;
                    color: black;
                }
                .navHolderRow__content {

                  #menu-footer-menu {
                    margin-top: 23px;
                    display: flex;
                    flex-flow: column;
                    gap: 15px;
                  }
                    ul {
                      padding-left: 0;
                        margin-top: 15px;
                        li {
                            display: flex;
                            gap: 30px;
                            @media screen and (max-width: 600px) {
                              flex-flow: column;
                              align-items: center;
                              text-align: center;
                              gap: 0px;
                              p {
                                margin-top: 0;
                              }
                             }
                            p {
                                font-family: 'futura-pt', sans-serif;
                                font-size: 14px;
                                font-weight: 400;
                                color: black;
                                strong {
                                    width: 40px;
                                    display: block;
                                    color: #E2A269;
                                }
                                a {
                                    transition: opacity 0.3s ease;
                                    &:hover {
                                        opacity: 0.7;
                                    }
                                }
                            }
                        }
                    }
                }
                &.navHolderColumn__row--openingHours {
                    .navHolderRow__content {
                        ul {
                            li {
                                p {
                                    strong {
                                        width: 136px;
                                    }
                                }
                            }
                        }
                    }
                   
                }
            }
        }
        @media screen and (max-width: 600px) {
          flex-flow: column;
          align-items: center;
          text-align: center;
         }
      }

      @media screen and (max-width: 1000px) {
        width: 100%;
       }
    }

    
  }
  .copyrightInfo {
    position: absolute;
    left: 50%;
    font-family: 'futura-pt';
    font-weight: 400;
    color: #000000;
    font-size: 21px;
    transform: translateX(-50%);
    bottom: 50px;
    @media screen and (max-width: 600px) {
      font-size: 16px;
      text-align: center;
    }
  }
}
