.container--woocommerce {
    max-width: 1320px;
}
.siteHeader img {
    max-width: unset !important;
}
.product_title  {
    display: none;
}
.price {
    display: none;
}
.ss-content .ss-list .ss-option.ss-highlighted, .ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected {
    background-color: #E2A269 !important;
}
.ss-content .ss-list .ss-option:hover {
    background-color: #E2A269 !important;
}

.variations {
    .reset_variations {
        display: none;
    }
    .ss-main {
        height: 45px;
        border: none !important;
        width: 200px;
        background-color: white;
        border: none;
        color: black;
        font-family: 'Lato';
        font-size: 14px;
        font-weight: 400;
    }
   
    tbody {
        display: flex;
        gap: 10px;
        th.label {
            text-align: left;
        }
        
        flex-flow: row wrap;
        label {
            text-align: left;
            font-family: 'Lato';
            font-size: 16px;
            font-weight: 700;

        }
    }
}

.wpclv-attributes .wpclv-terms .wpclv-term {
    background-color: transparent;
    border: none;
}
.wpclv-attributes .wpclv-terms .wpclv-term span, .wpclv-attributes .wpclv-terms .wpclv-term a {
    width: 100%;
    height: 100%;
    
    line-height: unset;
    background-color: transparent;
    padding: 0;
    display: block;
}
.wpclv-terms {
    .wpclv-term {
        font-size: 0px;
        display: block;
        width: 20px !important;
        height: 20px !important;
        max-width: 20px !important;
        max-height: 20px !important;
        min-width: 20px !important;
        min-height: 20px !important;
        padding: 0;
        border-radius: 50% !important;
        a, span {
            width: 20px !important;
            height: 20px !important;
            max-width: 20px !important;
            max-height: 20px !important;
            min-width: 20px !important;
            min-height: 20px !important;
            padding: 0;
            border-radius: 50% !important;
        }
        &.active {
            border: 1px solid #E2A269 !important;
            box-shadow: 0px 0px 4px 0px rgba(0,0,0,.12);
        }
    }
}
.wpclv-attribute {
    display: flex;
    flex-flow: row;
    gap: 20px;
    align-items: center;
}
.wpclv-attributes .wpclv-terms {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 10px;
}
.wpclv-attribute-label {
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 700;
    color: #1A1A18;
}
.wpclv-terms {
    .wpclv-term {
        &[aria-label=Beżowy] {
            
                background-color: #decbba !important;
            
            
        }
        &[aria-label=Biały] {
        
                background-color: white !important;
              
            
        }
    }
}


.productHeroSection {
    .container {
        display: flex;
        flex-flow: row;
        @media screen and (max-width: 1000px) {
            flex-flow: column ;
        } 
        .productHeroSection__imagesSliders {
            display: flex;
            flex-flow: row;
            align-items: center;
            gap: 20px;
            min-width: 572px;
            @media screen and (max-width: 1200px) {
                min-width:400px;
                align-items: flex-start;
            }
            @media screen and (max-width: 1000px) {
                margin-left: auto;
                margin-right: auto;
             } 
            .imagesSliders__horizontalSlider {
                .splide {
                    .splide__slide {
                        img {
                            width: 92px;
                            height: 92px;
                            cursor: pointer;
                            object-fit: cover;
                        }
                    }
                }
            }
            .imagesSliders__verticalSlider {
                box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
                .splide__slide {
                    a {
                        img {
                            object-fit: cover;
                            width: 460px;
                            height: 100%;
                            @media screen and (max-width: 1200px) {
                                width: 400px;
                                
                            }
                            
                        }
                    }
                }

                .promotionTag {
                    right: 0;
                    top: 20px;
                    border-top-left-radius: 50px;
                    background-color: #E2A269;
                    color: white;
                    position: absolute;
                    z-index: 99;
                    width: 130px;
                    font-family: 'Lato';
                    text-transform: uppercase;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                    font-weight: 700;
                    height: 40px;
                    border-bottom-left-radius: 50px;
                }
            }
          
        }

        .productHeroSection__metaHolder {
            padding-left: 30px;
            @media screen and (max-width: 1000px) {
               padding-left: 0;
            } 
            .product_meta {
                display: none;
            }
            .woocommerce-variation-add-to-cart {
                margin-top: 60px;
                display: flex;
                flex-flow: row;
                align-items: center;
                gap: 30px;
                .single_add_to_cart_button  {
                    font-family: 'Lato', sans-serif;
    font-weight: 400;
    z-index: 9;
    font-size: 18px;
    color: white;
    position: relative;
    height: 50px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E2A269;
    border-radius: 0;
    transition: box-shadow 0.5s ease, padding-right 0.5s ease, border-bottom-right-radius 0.5s ease, border-top-left-radius 0.5s ease;

    
    &:hover {
        color: white;
        background-color: #E2A269;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;

    }
    &:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.28' height='11.808' viewBox='0 0 19.28 11.808'%3E%3Cg id='Group_186' data-name='Group 186' transform='translate(-614 -501.192)'%3E%3Cpath id='Icon_ionic-ios-arrow-forward' data-name='Icon ionic-ios-arrow-forward' d='M15.963,12.1,11.494,7.633a.84.84,0,0,1,0-1.192.851.851,0,0,1,1.2,0L17.752,11.5a.842.842,0,0,1,.025,1.164l-5.084,5.094a.844.844,0,1,1-1.2-1.192Z' transform='translate(615.282 494.996)' fill='%23fff'/%3E%3Crect id='Rectangle_89' data-name='Rectangle 89' width='18' height='2' rx='1' transform='translate(614 506)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
        height: 11px;
        background-position: center;
        background-size: contain;
        width: 19px;
        position: absolute;
        top: 53%;
        background-repeat: no-repeat;
        transform: translateY(-50%);
        content: '';
        right: 30px;
        z-index: 9;
        opacity: 0;
        transition: right 0.3s ease, opacity 0.3s ease;
    }
   
    &:hover {
        
        &:after {
            opacity: 1;
            right: 15px;
        }
        padding-right: 20px;
        box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.16);
    }
                }
                .quantity {
                    display: flex;
                    gap: 5px;
                    flex-flow: row;
                    align-items: center;
                    button {
                        width: 40px;
                        height: 45px;
                        background-color: white;
                        border: none;
                        font-family: 'Lato';
                        font-weight: 900;
                        font-size: 16px;
                        color: #1A1A18;
                        cursor: pointer;
                    }
                    input {
                        font-family: 'Lato';
                        font-weight: 900;
                        font-size: 16px;
                        color: #1A1A18;
                        border: none;
                        width: 59px;
                        height: 45px;
                        background-color: white;
                        pointer-events: none;
                    }
                }
            }
            .woocommerce-Price-amount {
                margin-top: 15px;
                display: block;
                bdi, span {
                    font-family: 'Lato';
                    font-size: 20px;
                    color: #E2A269;
                    font-weight: 700;
                }
            }
            h4 {
                font-size: 26px;
                font-family: 'Lato';
                font-weight: 700;
                color: #1A1A18;
                margin: 0;
            }
        }
    }
}


.woocommerce table.shop_attributes tr:nth-child(even) td, .woocommerce table.shop_attributes tr:nth-child(even) th {
    background-color: transparent !important;
    border: none !important;
}
.woocommerce table.shop_attributes th, .woocommerce table.shop_attributes td {
    border: none !important;
}
.related.products {
    display: none;
}
.tabsProductSection {
    margin-top: 50px;
    .container {
        .woocommerce-product-attributes {
            max-width: 700px;
            margin-left: auto;
            margin-right: auto;
            border: none !important;

            th {
                text-align: left;
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 700;
                font-family: 'Lato';
                width: 300px;
            }
            td p {
                font-size: 20px;
            }
        }
        
        .woocommerce-Tabs-panel {
            margin-top: 50px;
            h2 {
                display: none;
            }
            p, strong {
                font-family: 'Lato';
                font-size: 16px;
                color: #1A1A18;
                font-weight: 400;
            }
        }
        .tabs.wc-tabs {
            display: flex;
            justify-content: center;
            gap: 100px;
            .reviews_tab {
                display: none;
            }
            li {
                a {
                    font-family: 'Lato';
                    font-size: 20px;
                    font-weight: 700;
                    color: #6E6E6E;
                    position: relative;
                    &:after {
                        height: 0px;
                        transition: all 0.3s ease;
                        width: 30px;
                        background-color: #E2A269;
                        content: '';
                        position: absolute;
                        bottom: -10px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                &.active {
                    a {
                        color: #1A1A18;
                        &:after {
                            height: 4px;
                        }
                    }
                }
            }
        }
    }
}